.calibre {
    display: block;
    font-family: "Book Antiqua", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-justify-trim: punctuation;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block
    }
.calibre3 {
    line-height: 110%
    }
.calibre4 {
    color: gray;
    display: block;
    height: 2px;
    text-align: center;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    font-size: 1.66667em;
    line-height: 1
    }
.calibre7 {
    color: windowtext;
    font-size: 0.75em;
    text-decoration: none
    }
.calibre8 {
    height: 31px;
    width: 87px
    }
.calibre9 {
    text-decoration: underline
    }
.calibre10 {
    color: blue
    }
.calibre11 {
    height: 81px;
    width: 81px
    }
.calibre12 {
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%
    }
.calibre13 {
    color: windowtext;
    display: none;
    text-decoration: none
    }
.calibre14 {
    color: white
    }
.calibre15 {
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%
    }
.mlplicencetext {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 0.75em;
    line-height: 110%;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.mlpobrazky {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: center;
    margin: 12pt 0 0.0001pt
    }
.mlpobsah {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 12pt 0
    }
.mlptextbez1radku {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.mlptextbez1radku1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: justify;
    margin: 12pt 0 0.0001pt
    }
.mlptirazautoranazev {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0.0001pt
    }
.mlptitulkaautor {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.4em;
    line-height: 1;
    text-align: center;
    margin: 18pt 0 0.0001pt
    }
.mlptitulkanazev {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 2em;
    line-height: 110%;
    text-align: center;
    margin: 120pt 0 0.0001pt
    }
.mlpverse {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    margin: 0 42.55pt 12pt
    }
.mlpverse1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    margin: 12pt 42.55pt
    }
.mlpversefalesnynadpis {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 110%;
    margin: 48pt 42.55pt 0.0001pt
    }
.msohyperlink {
    color: blue;
    font-family: "Cambria", "serif";
    text-decoration: underline
    }
.msonormal {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 110%;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.msonormal1 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: normal;
    text-align: center;
    margin: 0 0 6pt
    }
.msonormal2 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: normal;
    text-align: center;
    margin: 6pt 0 4.5pt
    }
.msonormal3 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%;
    margin: 0 0 0.0001pt
    }
.msotoc {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    line-height: 115%;
    margin: 0 0 0.0001pt 11.05pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.wordsection1 {
    display: block;
    page: WordSection2
    }
.wordsection2 {
    display: block;
    page: WordSection3
    }
.wordsection3 {
    display: block;
    page: WordSection4
    }
.wordsection4 {
    display: block;
    page: WordSection5
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    font-family: "Cambria", "serif";
    text-decoration: underline
    }
